.underline {
    position: relative;
    text-decoration: none; /* No underline by default */
    color: #000980;
    transition: background 0.3s;
}
.footer {
    margin-top: 100px;
    text-align: center;
    color: #888;
    font-size: 0.8rem;
}

        .underline:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            bottom: -2px;
            left: 0;
            background-color: currentColor;
            transform: scaleX(0);
            transform-origin: right;
            transition: transform 0.3s ease;
        }

        .experience-item:hover .underline:after,
        .research-paper:hover .underline:after {
            transform: scaleX(1);
            transform-origin: left;
        }
    

        